<moduleConfig autoLoadLwdScene="True" mediaPackExtensions=".zip|.pak|.rmp|.media" searchPaths="..\..\" rootDataDir="..\VR" rootScenesDir="..\VR\Scenes"  startupLwdScene="LwdSceneSystem" prefixModuleFiles="False" usersPrefsPath="UserPrefs.config" inspectExe="True">
	<setupPlugins>
		<module type="PluginAssembly" path="Gaea.LostWorld.System.dll" requires="" active="True" />
		<module type="PluginAssembly" path="Gaea.LostWorld.ScriptSystem.dll" requires="" active="True" />
		<module type="PluginAssembly" path="Gaea.LostWorld.Framework.dll" requires="" active="True" />
		<module type="PluginAssembly" path="Gaea.LostWorld.EntitySystem.dll" requires="" active="True" />
		<module type="PluginAssembly" path="Gaea.LostWorld.Cube.dll" requires="" active="True" />
	</setupPlugins>
	<modules>
		<module type="MediaPack" path="..\VR\Media" requires="" active="True" />
	</modules>
</moduleConfig>