<Stereo3D>

	<!--# Available StereoMode: NONE ANAGLYPH_RED_CYAN ANAGLYPH_YELLOW_BLUE DUALOUTPUT INTERLACED_VERTICAL ANAGLYPH_RED_CYAN INTERLACED_CHECKBOARD SHUTTERGLASSES-->
	<StereoMode>ANAGLYPH_RED_CYA</StereoMode>

        <EyesSpace>6.34559</EyesSpace>

	<FocalLength>150.7607</FocalLength>

	<InverseStereo>false</InverseStereo>

	<FixedScreen>false</FixedScreen>

	<ScreenWidth>1</ScreenWidth>
</Stereo3D>
