Gaea.LostWorld.Plugins.DevILCodecs.dll
Gaea.LostWorld.Plugins.CgProgramManager.dll
Gaea.LostWorld.Plugins.OctreeZone.dll
Gaea.LostWorld.Plugins.Stereo3D.dll
Gaea.LostWorld.RenderSystems.DirectX9.dll
Gaea.LostWorld.SceneManagers.Bsp.dll
Gaea.LostWorld.SceneManagers.Octree.dll
Gaea.LostWorld.SceneManagers.PagingLandscape.dll
Gaea.LostWorld.Vision.dll
gaeaParticleSystem.dll
gaeaControls.dll