<Config>
	<UseInputManager>true</UseInputManager>
        <UseCamerAotuController>true</UseCamerAotuController>	
	<ScreenshotFormat>Png</ScreenshotFormat>
	<LogDebug>False</LogDebug>
	<RenderThreadPriority>Normal</RenderThreadPriority>
	<EngineOwnsMouse>False</EngineOwnsMouse>
	<AppendLogs>True</AppendLogs>
	<AllowRepeatHandlerScripts>False</AllowRepeatHandlerScripts>
	<DisplayMode fullscreen="false" width="1024" height="768" bpp="32" />
	<PhysicalBodyMassDensity>1</PhysicalBodyMassDensity>
	<UseWinForms>True</UseWinForms>
	<UseMouse>True</UseMouse>
	<FeetToUnits>Infinity</FeetToUnits>
	<LogFilePath>Log.txt</LogFilePath>
	<InputConfigPath>DemoGame/Input.config</InputConfigPath>
	<ErroringFramesInARowBeforeExiting>3</ErroringFramesInARowBeforeExiting>
	<LogTrace>True</LogTrace>
	<CameraMinDistance>5</CameraMinDistance>
	<RenderThreadName>GaeaLostWorld</RenderThreadName>
	<DefaultFog rangeStart="90000" density="0.001" color="White" rangeEnd="100000" mode="LinearRange" />
	<NormalizeRelativeMousePosition>True</NormalizeRelativeMousePosition>
	<MaxAIDistance>-1</MaxAIDistance>
	<DefaultNumMipMaps>5</DefaultNumMipMaps>
	<ScreenshotExtension>png</ScreenshotExtension>
	<GuiThreadName>GaeaLostWorld GUI</GuiThreadName>
	<UnitsToMeters>0</UnitsToMeters>
	<PhysicsRate>1</PhysicsRate>
	<TerrainMaxPixelError>8</TerrainMaxPixelError>
	<ScreenshotPrefix>ScreenShot</ScreenshotPrefix>
	<MainCameraName>MainCamera</MainCameraName>
	<CameraMaxDistance>100000</CameraMaxDistance>
	<FullscreenMode>Form</FullscreenMode>
	<TerrainTileDimension>20</TerrainTileDimension>
	<TerrainTileDetailSize>3</TerrainTileDetailSize>
	<ResizeScreenshot>False</ResizeScreenshot>
	<MetersToFeet>3.28084</MetersToFeet>
	<DynamicLighting>True</DynamicLighting>
	<ScreenshotDirectory />
	<RenderSystem>DirectX</RenderSystem>
	<ScreenshotSize>(1024,768)</ScreenshotSize>
	<MetersToUnits>Infinity</MetersToUnits>
	<ShowDebugOverlay>True</ShowDebugOverlay>
	<GuiThreadPriority>Normal</GuiThreadPriority>
	<ScreenBackgroundColor>Black</ScreenBackgroundColor>
	<UseKeyboard>True</UseKeyboard>
	<RenderWindowID>RenderWindow</RenderWindowID>
	<ScreenshotSuffixStart>1</ScreenshotSuffixStart>
	<DisableRenderingOnGuiLoseFocus>False</DisableRenderingOnGuiLoseFocus>
	<PlayerStartPosition>(0,60,200)</PlayerStartPosition>
	<GravityForce>(0,-196.2,0)</GravityForce>
	<ShowNodes>False</ShowNodes>
	<TerrainMaxMipMap>5</TerrainMaxMipMap>
	<Multithreaded>True</Multithreaded>
	<TerrainTileSize>7</TerrainTileSize>
	<UseGamePad>False</UseGamePad>
	<ShadowQuality>AlphaSupport</ShadowQuality>
	<UnitsToFeet>0</UnitsToFeet>
	<SceneType>TerrianOctree</SceneType>
	<DefaultSky curvature="4" drawFirst="False" scale="10000" material="RF/Skies/Cloudy" mode="Dome" orientation="(0,0,0,1)" normal="(0,-1,0)" distance="4000" tiling="8" />
	<TerrainLightingEnabled>True</TerrainLightingEnabled>
        <RenderWindowVSync>false</RenderWindowVSync>
	<RednerWindowSwapEffect>0</RednerWindowSwapEffect>
	<LockableD3DSurfaceBackBuffer>true</LockableD3DSurfaceBackBuffer>
</Config>