<inputConfig activeProfiles="Basic|RPG">
	<profiles>
			<inputProfile name="Basic">
				<handlers>
					<keyHandler script="#Editor.ToggleVisible" key="F11"/>	
					<keyHandler script="#Engine.ToggleRenderMode" key="R"/>	
					<keyHandler script="#Engine.ToggleBoundingBoxes" key="B"/>
					<keyHandler script="#Engine.SaveRenderScreenshot" key="PrintScreen"/>
					<keyHandler script="#Realms.ToggleRealm" key="V"/>
					<keyHandler script="#Player.MovementController.ToggleMode" key="Tab"/>
					<keyHandler script="#Windows.ShowLauncher" key="Escape"/>
					<keyHandler script="#Shutdown" key="Escape"/>
					<keyHandler script="#App.QuickSave" key="F5"/>
					<keyHandler script="#App.QuickLoad" key="F9"/>
					<keyHandler script="RSL.App.Test" key="F8"/>
					<keyHandler input="Keyboard" event="Down" script="RSL.PC.Jump" key="Space"/>
					<keyHandler input="Mouse" script="#Player.PerformMouseSelection" key="Left"/>
				</handlers>
			</inputProfile>
			<inputProfile name="RPG">
				<handlers>
				</handlers>
			</inputProfile>
			<inputProfile name="Editor">
				<handlers>
					<keyHandler input="Keyboard" event="Down" script="RSL.Editor.EnableMouseTurnCamera" key="W"/>
					<keyHandler input="Keyboard" event="Up" script="RSL.Editor.DisableMouseTurnCamera" key="W"/>
					<keyHandler input="Keyboard" event="FrameDown" script="RSL.Camera.MoveForward" key="W"/>
					
					
					<keyHandler input="Keyboard" event="Down" script="RSL.Editor.EnableMouseTurnCamera" key="S"/>
					<keyHandler input="Keyboard" event="Up" script="RSL.Editor.DisableMouseTurnCamera" key="S"/>
					<keyHandler input="Keyboard" event="FrameDown" script="RSL.Camera.MoveBackward" key="S"/>
					
					
					<keyHandler input="Keyboard" event="FrameDown" script="RSL.Camera.MoveLeft" key="A"/>
					<keyHandler input="Keyboard" event="FrameDown" script="RSL.Camera.MoveRight" key="D"/>
					
					
					<keyHandler input="Keyboard" event="Down" script="RSL.Editor.Undo" key="Z"/>
					<keyHandler input="Keyboard" event="Down" script="RSL.Editor.Redo" key="Y"/>
					<keyHandler input="Keyboard" event="Down" script="RSL.Editor.Cut" key="X"/>
					<keyHandler input="Keyboard" event="Down" script="RSL.Editor.Copy" key="C"/>
					<keyHandler input="Keyboard" event="Down" script="RSL.Editor.Paste" key="V"/>
					<keyHandler input="Keyboard" event="Down" script="RSL.Editor.Delete" key="Delete"/>
					<keyHandler input="Keyboard" event="Down" script="RSL.Editor.Duplicate" key="D"/>
					
					<keyHandler input="Keyboard" event="Down" script="RSL.Camera.MoveToTargetIsometric" key="I"/>
					<keyHandler input="Keyboard" event="Down" script="RSL.Camera.MoveToTargetTop" key="T"/>
					
					<keyHandler input="Keyboard" event="Down" script="RSL.Scene.RenderMode" key="R"/>			
					<keyHandler input="Keyboard" event="Down" script="RSL.Scene.BoundingBoxes" key="B"/>
					<keyHandler input="Keyboard" event="Down" script="RSL.Scene.TakeScreenshot" key="P"/>
				</handlers>
			</inputProfile>			
			<inputProfile name="Adventure">
				<handlers>
					<keyHandler input="Keyboard" event="Down" script="RSL.PC.ReadyWeapon" key="F"/>			
					<keyHandler input="Keyboard" event="Down" script="RSL.PC.ReadSpecialAttack" key="R"/>
					
					<keyHandler input="Keyboard" event="Down" script="RSL.PC.ActivateNearest" key="Space"/>
					<keyHandler input="Keyboard" event="Down" script="RSL.PC.IncrementJumpForce" key="E"/>
					<keyHandler input="Keyboard" event="Down" script="RSL.PC.AlwaysRun" key="CapsLock"/>
					<keyHandler input="Keyboard" event="Down" script="RSL.PC.AutoRun" key="Q"/>
					
					<keyHandler input="Keyboard" event="Down" script="RSL.App.ShowJournal" key="J"/>
					<keyHandler input="Keyboard" event="Down" script="RSL.App.ShowSleepMenu" key="T"/>
				</handlers>
			</inputProfile>
	</profiles>
</inputConfig>