<Config>
	<UseInputManager>true</UseInputManager>
        <UseCamerAotuController>true</UseCamerAotuController>
	<FullscreenMode>Form</FullscreenMode>
	<UnitsToMeters>0.05</UnitsToMeters>
	<ScreenshotDirectory />
	<ScreenBackgroundColor>Black</ScreenBackgroundColor>
	<GuiThreadPriority>Normal</GuiThreadPriority>
	<DefaultNumMipMaps>5</DefaultNumMipMaps>
	<ShowDebugOverlay>True</ShowDebugOverlay>
	<UseWinForms>True</UseWinForms>
	<LogTrace>True</LogTrace>
	<TerrainTileDetailSize>3</TerrainTileDetailSize>
	<ScreenshotSize>(1024,768)</ScreenshotSize>
	<UseMouse>True</UseMouse>
	<TerrainLightingEnabled>True</TerrainLightingEnabled>
	<ScreenshotPrefix>ScreenShot</ScreenshotPrefix>
	<RenderWindowID>RenderWindow</RenderWindowID>
	<CameraMinDistance>5</CameraMinDistance>
	<RenderWindowName>Gaea LostWorld</RenderWindowName>
	<PhysicalBodyMassDensity>1</PhysicalBodyMassDensity>
	<ScreenshotSuffixStart>1</ScreenshotSuffixStart>
	<TerrainTileDimension>20</TerrainTileDimension>
	<GameLoadingTitleWithTroubleshootInformation>Please wait while the software loads...


If the software has not started after about 30 seconds, check to make sure that you have followed the setup instructions at http://Gaea.LostWorld.SceneSystem.com?url=GettingStarted and if so, follow the troubleshooting steps there.</GameLoadingTitleWithTroubleshootInformation>
	<TerrainMaxPixelError>8</TerrainMaxPixelError>
	<InputConfigPath>DemoGame/Input.config</InputConfigPath>
	<UseKeyboard>True</UseKeyboard>
	<GameLoadingTitle>Please wait while the software loads...</GameLoadingTitle>
	<PlayerStartPosition>Vector3(0, 60, 200)</PlayerStartPosition>
	<AppendLogs>True</AppendLogs>
	<ScreenResizeMode>UpdateResolution</ScreenResizeMode>
	<GuiThreadName>GaeaLostWorld GUI</GuiThreadName>
	<ShowEditorOnStartup>False</ShowEditorOnStartup>
	<ErroringFramesInARowBeforeExiting>3</ErroringFramesInARowBeforeExiting>
	<RenderWindowDepthBuffer>True</RenderWindowDepthBuffer>
	<SceneType>Planet</SceneType>
	<LogDebug>False</LogDebug>
	<ResizeScreenshot>False</ResizeScreenshot>
	<FeetToUnits>6.096</FeetToUnits>
	<DynamicLighting>True</DynamicLighting>
	<NormalizeRelativeMousePosition>True</NormalizeRelativeMousePosition>
	<LoadTerrain>True</LoadTerrain>
	<PhysicsRate>1</PhysicsRate>
	<TerrainMaxMipMap>5</TerrainMaxMipMap>
	<Multithreaded>False</Multithreaded>
	<DisableRenderingOnGuiLoseFocus>False</DisableRenderingOnGuiLoseFocus>
	<MainCameraName>MainCamera</MainCameraName>
	<RenderThreadName>GaeaLostWorld</RenderThreadName>
	<MetersToUnits>20</MetersToUnits>
	<MetersToFeet>3.28084</MetersToFeet>
	<RenderWindowVSync>False</RenderWindowVSync>
	<UseGamePad>False</UseGamePad>
	<DisplayMode height="768" width="1024" fullscreen="False" bpp="32" />
	<RenderSystem>DirectX</RenderSystem>
	<TerrainTileSize>7</TerrainTileSize>
	<CameraMaxDistance>100000</CameraMaxDistance>
	<ShowNodes>False</ShowNodes>
	<ScreenshotExtension>png</ScreenshotExtension>
	<DefaultSky mode="Dome" drawFirst="True" normal="Vector3(0, 0, -1)" scale="1" distance="4000" curvature="5" material="RF/Skies/Cloudy" orientation="(0,0,0,1)" tiling="8" />
	<LogFilePath>Log.txt</LogFilePath>
	<DefaultFog rangeStart="90000" mode="None" rangeEnd="100000" color="White" density="0" />
	<DriveRenderEngineSelf>True</DriveRenderEngineSelf>
	<RenderThreadPriority>Normal</RenderThreadPriority>
	<LogKeyPresses>False</LogKeyPresses>
	<ScreenshotFormat>Png</ScreenshotFormat>
	<EngineOwnsMouse>False</EngineOwnsMouse>
	<AllowRepeatHandlerScripts>False</AllowRepeatHandlerScripts>
	<ShadowQuality>AlphaSupport</ShadowQuality>
	<MaxAIDistance>-1</MaxAIDistance>
	<UnitsToFeet>0.164042</UnitsToFeet>
	<GravityForce>Vector3(0, -196.2, 0)</GravityForce>
	<LockableD3DSurfaceBackBuffer>true</LockableD3DSurfaceBackBuffer>
</Config>